<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">About Us !</h5>
          <p>Musixx is an application that let's you upload , store and play all of your music.
             You can now manage and listen to your music from any device , anywhere in the world.</p>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-5 mb-md-0 mb-3 offset-md-1">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Subscribe Us !</h5>
          <!-- Default input -->
          <input type="text" id="exampleForm2" class="form-control col-md-8" placeholder="Email" style="display:inline-block;">
          <button class="btn buttonn" type="submit" style="padding:10px 30px;">Subscribe</button>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> Musixx.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
