<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= album %> | Musixx</title>
    <% include partials/cssfiles.ejs %>
    <link rel="stylesheet" href="/assets/home.css">
  </head>
  <body>
    <% include partials/nav.ejs %>
    <div class="container">
      <br>
      <div class="row">
          <!-- Card -->
          <div class="card col-md-4 album">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h4 class="card-title">Album title</h4>
              <!-- Text -->
              <p class="card-text">Artist name</p>
              <!-- Button -->
              <p class="card-text" style="display:inline-block;">India</p>
              <i class="fa fa-star-o iconn ml-3" aria-hidden="true"></i>

            </div>

          </div>
          <!-- Card -->
          <div class="col-md-7">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">View All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Add New</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container mt-5">
                  <table class="table table-hover">
                    <thead class="grey lighten-1">
                      <tr>
                        <th scope="col">Song title</th>
                        <th scope="col">Artist</th>
                        <th scope="col">Audio file</th>
                        <th scope="col">Album</th>
                        <th scope="col">Favourite</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i=0;i<4;i++){ %>
                      <tr>
                        <th scope="row">Song name</th>
                        <td>Artist name</td>
                        <td>Audio file</td>
                        <td>Album name</td>
                        <td>Yes</td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>

                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <!-- Default form login -->
                <form class="text-center border border-light p-5 col-md-8 offset-md-2">

                  <p class="h4 mb-4">Add new song</p>

                  <!-- Song title -->
                  <input type="text" id="songtitle" class="form-control mb-4" placeholder="Enter Song Title">
                  <!-- Artist name -->
                  <input type="text" id="artistname" class="form-control mb-4" placeholder="Enter Artist Name">
                  <!-- File type -->
                  <input type="text" id="filetype" class="form-control mb-4" placeholder="Enter File Type ... ex - mp3">

                  <!-- Sign in button -->
                  <button class="btn buttonn" type="submit" style="padding:10px 30px;">Add</button>

                </form>
                <!-- Default form login -->
              </div>
              </div>
          </div>
      </div>
    </div>
  </body>
  <% include partials/jsfiles.ejs %>
</html>
